@use "./pallete";

@mixin button-styles {
  padding: 7px 12px;
  color: pallete.$secondary-background-colour;
  background-color: pallete.$primary-text-colour;
  border: none;
  border-radius: 6px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: background-color 200ms;

  &:hover {
    background-color: pallete.$hover-colour;
    cursor: pointer;
  }
}
