@use "../../assets/stylesheets/partials/breakpoints";
@use "../../assets/stylesheets/partials/pallete";

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;

  @include breakpoints.small-desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include breakpoints.tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoints.phone {
    grid-template-columns: 1fr;
  }
}

.error {
  color: pallete.$danger-colour;
  font-size: 1.2rem;
  text-align: center;
}
